

.h-accent {
  color: #ccaed0;
  letter-spacing: 0.2px;
}


body{
    background-color: #70527c;
}

.cajita-fondo{
    background-color: #ccaed0;
}

.text-center{
    text-align: center;
}

.text-yellow{
    color: yellow;
}
